@charset "UTF-8";

/* Указываем box sizing */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: inline-block;
}

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

.header {
  background-color: #ffffff;
  z-index: 50;
}

.header__container {
  margin: 0 auto;
}

.header__burger {
  display: none;
  width: 25px;
  height: 15px;
  position: relative;
  z-index: 6;
}

.header__burger span {
  content: '';
  background-color: #000000;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 7px;
}

.header__burger:before,
.header__burger:after {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  content: '';
  background-color: #000000;
  position: absolute;
  width: 100%;
  height: 2px;
  right: 0;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 150px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  opacity: 1;
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.header__icon {
  max-width: 60px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menu__item {
  margin: 0 20px;
  position: relative;
}

.menu__link {
  color: inherit;
  text-decoration: none;
}

.menu__link:hover {
  color: #46996c;
}

.header {
  background-color: #ffffff;
  z-index: 50;
}

.header__container {
  margin: 0 auto;
}

.header__burger {
  display: none;
  width: 25px;
  height: 15px;
  position: relative;
  z-index: 6;
}

.header__burger span {
  content: '';
  background-color: #000000;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 7px;
}

.header__burger:before,
.header__burger:after {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  content: '';
  background-color: #000000;
  position: absolute;
  width: 100%;
  height: 2px;
  right: 0;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 150px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  opacity: 1;
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.header__icon {
  max-width: 60px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menu__item {
  margin: 0 20px;
  position: relative;
}

.menu__link {
  color: inherit;
  text-decoration: none;
}

.menu__link:hover {
  color: #46996c;
}

.main-block {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #f5ebea;
  height: 500px;
}

.main-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-block__card {
  z-index: 2;
  font-family: 'Montserrat';
  max-width: 380px;
  margin: 100px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-block__card .card__logo {
  display: none;
  opacity: 1;
}

.main-block__image {
  z-index: 1;
  position: absolute;
  top: -10px;
  left: 50%;
}

.card__logo {
  margin: 0 0 60px 0;
}

.card__subtitle {
  margin-bottom: 40px;
}

.card__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__button {
  color: inherit;
  text-decoration: none;
  margin: 0 20px 0 0;
  padding: 10px 20px;
  background-color: #46996c;
  border: 1px solid #46996c;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.card__button:hover {
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  border: 1px solid #46996c;
  background-color: inherit;
}

.slider-films {
  margin: 550px auto 0;
}

.slider-films__title {
  text-align: center;
  margin: 0 0 60px 0;
}

.slider-films__slider {
  max-width: 1200px;
  margin: 0 auto 50px;
  position: relative;
  padding: 0 40px;
}

.slider-films__slider__item img {
  max-height: 400px;
  max-width: 300px;
}

.events {
  width: 100%;
  background-color: #f5ebea;
}

.events__container {
  padding: 0 0 50px 0;
}

.events__title {
  margin: 90px 0 0 0;
  padding: 100px 0 50px 0;
  text-align: center;
}

.events__slider {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
  position: relative;
}

.events__events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px -100px 0 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.events__event {
  padding: 0 100px 0 0;
}

.events__button {
  font-family: 'Montserrat';
  font-size: 16px;
  height: 50px;
  margin: 50px auto 0;
  width: 200px;
  background-color: #46996c;
}

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

/* Слайд */

.slick-slide {
  text-align: center;
}

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

.slick-arrow {
  position: absolute;
  z-index: 4;
  top: 50%;
  width: 30px;
  height: 30px;
  margin: -30px 10px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 0;
  border: solid rgb(122, 122, 122);
  border-width: 0 3px 3px 0;
  padding: 3px;
}

/* Стрелка влево */

.slick-arrow.slick-prev {
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform: rotate(135deg);
  left: 0;
}

/* Стрелка вправо */

.slick-arrow.slick-next {
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 0;
}

/* Стрелка не активная */

/* Точки (булиты) */

/* Активная точка */

/* Элемент точки */

.button {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #46996c;
  border: 1px solid #46996c;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.button:hover {
  color: #001736;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  border: 1px solid #46996c;
  background-color: inherit;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #46996c;
  height: 300px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  margin: 0 0 0 -150px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__link {
  color: #fff;
  text-decoration: none;
  padding: 0 0 0 150px;
}

.footer__link:hover {
  color: #001736;
}

.footer__logo {
  padding: 0 0 30px 0;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.items > * {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.content .news-button {
  max-width: 300px;
  padding: 15px;
  margin: 0px 0 20px 100px;
}

.content .card__image {
  display: contents;
  text-align: center;
}

.content .card__subcontainer {
  display: flex;
}
.card__subcontainer > * {
  margin: 0 20px;
}
.content .card__title {
  padding: 5px 0 0 0;
  font-size: 1em;
}

.content .card__subtitle {
  margin: 0 0 40px 0;

  font-size: 0.8em;
}

.inputField {
  background-color: #616161;
  color: #ffffff;
  border: none;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 400px;
}

.form .titleInput {
  padding: 5px;
}

.form .textInput {
  text-align: center;
  padding: 5px;
}

.form .formButton {
  width: 150px;
  height: 35px;
}

.form .buttons {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form .custom-file-upload {
  padding: 6px 12px;
  cursor: pointer;
}

.form .input-video {
  display: none;
}
.form .input {
  display: none;
}
.form .input-img {
  display: none;
}

.categories {
  margin: 0 0 20px 0;
}

.categories a {
  text-decoration: none;
  color: inherit;
}

.categories__list {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categories__list li {
  margin: 0 0 0 20px;
  padding: 0 0 2px 0;
}

.categories__list li:hover {
  text-underline-position: under;
  -webkit-text-decoration: underline #911212;
  text-decoration: underline #911212;
}

.categories li.active {
  color: #46996c;
}

.categories li.active:hover {
  border-bottom: 0px solid #000;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.searchInput {
  color: #fff;
  padding: 10px 0 10px 10px;
  border: none;
  outline: none;
  background-color: #4d4d4d;
  font-family: 'montserrat';
  width: 400px;
  height: 55px;
}

.auth {
  background-color: #f5ebea;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.auth__icon {
  cursor: pointer;
  display: none;
}

.auth__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.auth__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.auth__form .loginInput.wrong,
.auth__form .passwordInput.wrong {
  background-color: #911212;
}

.auth__form > * {
  margin: 0 0 20px 0;
}

.auth__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.auth__link {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  height: 50px;
  padding: 20px;
}

.auth__link .loginBtn {
  height: inherit;
  width: 140px;
}
.deleteBtn {
  width: 100px;
}
.logoutBtn {
  width: 100px;
}
.confirmBtn {
  background-color: rgb(255, 119, 119);
  border: none;
}
.auth__link .registerBtn {
  height: inherit;
  width: 250px;
}

.auth__info {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.auth__info .text-good {
  line-height: 30px;
  width: 500px;
  position: absolute;
  top: -115px;
  left: 180px;
  color: #367653;
}
.text-good {
  line-height: 30px;
  width: 500px;
  color: #367653;
}
.text-wrong {
  line-height: 30px;
  width: 500px;
  color: #ca8b2c;
}
.auth__info .text-wrong {
  line-height: 30px;
  width: 500px;
  position: absolute;
  top: -115px;
  left: 180px;
  color: #ca8b2c;
}

.popup-card {
  display: none;
}

.popup-card .popup__overlay {
  position: fixed;
  top: 30vh;
  left: 10vw;
  width: 80vw;
  height: 30vh;
  z-index: 1;
  background-color: #46996c;
}

.popup-card .popup__content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  width: 80vw;
  height: 30vh;
  top: 15vh;
  left: 40vw;
  z-index: 2;
  text-align: center;
}

.popup-card .popup__content .title {
  color: #f5ebea;
  font-size: 37px;
  padding: 10px;
}

.popup-card .popup__content .text {
  color: #f5ebea;
  font-size: 30px;
}

.popup-card .popup__close-btn {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
  width: 30px;
  height: 30px;
  background-color: #333;
  color: #fff;
}

.popup-card.active .popup__content {
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.account {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.account__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.account__button {
  width: 200px;
}

.account__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.account__info > * {
  margin: 0 0 20px 0;
}

.films-body {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__title {
  margin: 0 0 30px 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  background-color: #ffffff;
  font-family: 'Playfair Display', serif;
  color: #001736;
  font-weight: 500;
  font-size: 22px;
}
::placeholder {
  color: rgb(202, 202, 202);
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1500px;
  margin: 0 auto;
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 35px;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  opacity: 0.5;
}

.subtitle-rules {
  line-height: 35px;
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  opacity: 0.8;
  padding: 20px 0;
}
@media (max-width: 1700px) {
  .main-block {
    height: 500px;
  }

  .main-block__card {
    width: 380px;
  }

  .main-block__image {
    position: absolute;
    top: -10px;
    left: 40%;
  }

  .main-block .card__logo {
    opacity: 1;
  }

  ._container {
    max-width: 1400px;
  }
}

@media (max-width: 1600px) {
  .items > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
  }
  .videoPlayer {
    width: 90vw;
  }
  ._container {
    max-width: 1300px;
  }
}

@media (max-width: 1400px) {
  ._container {
    max-width: 1200px;
  }
}

@media (max-width: 1300px) {
  ._container {
    max-width: 1100px;
  }
}

@media (max-width: 1200px) {
  .auth__info .text-good {
    left: 100px;
  }

  .auth__info .text-wrong {
    left: 100px;
  }

  ._container {
    max-width: 1000px;
  }
}

@media (max-width: 1100px) {
  .header__logo {
    display: none;
  }

  .header__logo {
    display: none;
  }

  .main-block .card__logo {
    display: block;
    margin: 0 0 30px 0;
    opacity: 1;
  }

  .main-block .card {
    margin: 50px 0 0 20px;
  }

  .slider-films__slider {
    max-width: 750px;
  }

  .auth__form {
    margin: 0 0 0 20px;
  }

  .auth__info .text-good {
    left: 25px;
  }

  .auth__info .text-wrong {
    left: 25px;
  }

  ._container {
    max-width: 1000px;
  }
}

@media (max-width: 950px) {
  .main-block {
    background-color: inherit;
  }

  .main-block .button {
    color: #000;
  }

  .main-block .card__title {
    color: #d3d3d3;
  }

  .main-block .card__subtitle {
    color: #ffffff;
  }

  .main-block__image {
    position: absolute;
    top: -10px;
    left: -20px;
    right: 0;
    opacity: 1;
  }
}

@media (max-width: 886px) {
  .header__menu .menu__list li {
    margin: 0 0 0 30px;
  }

  .header__menu .menu__list li {
    margin: 0 0 0 30px;
  }
}

@media (max-width: 828px) {
  .header__menu .menu__list li {
    margin: 0 0 0 20px;
  }

  .header__menu .menu__list li {
    margin: 0 0 0 20px;
  }
}

@media (max-width: 767px) {
  .header {
    margin: 0 0 20px 0;
  }

  .header .header__container {
    min-height: 70px;
  }

  .header__logo {
    width: 100%;
    padding: 0 0 0 50px;
  }

  .header__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .header__icons.active {
    display: none;
  }

  .header__menu {
    padding: 0 0 0 40px;
  }

  .header__menu .menu__list {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    top: -100%;
    left: 0;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    z-index: 5;
  }

  .header__menu .menu__list li {
    margin: 50px 0 0 50px;
  }

  .header__menu.active .menu__list {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  body.lock {
    overflow: hidden;
  }

  .header__menu.active {
    width: 100%;
  }

  .menu__list {
    display: none;
  }

  .header__burger {
    display: block;
    position: absolute;
    top: 25px;
    right: 15%;
  }

  .header__burger.active:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 13px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .header__burger.active span {
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    display: none;
  }

  html,
  body {
    height: 100%;
  }

  body {
    line-height: 1;
    background-color: #ffffff;
    font-family: 'Playfair Display', serif;
    color: #001736;
    font-weight: 500;
    font-size: 22px;
  }

  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
  }

  ._container {
    max-width: 1500px;
    margin: 0 auto;
  }

  .title {
    font-family: 'Playfair Display', serif;
    font-size: 35px;
  }

  .subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    opacity: 0.5;
  }

  @media (max-width: 1700px) {
    .main-block {
      height: 500px;
    }

    .main-block__card {
      width: 380px;
    }

    .main-block__image {
      position: absolute;
      top: -10px;
      left: 40%;
    }

    .main-block .card__logo {
      opacity: 1;
    }

    ._container {
      max-width: 1400px;
    }
  }

  @media (max-width: 1600px) {
    .items > * {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%;
    }

    ._container {
      max-width: 1300px;
    }
  }

  @media (max-width: 1400px) {
    ._container {
      max-width: 1200px;
    }
  }

  @media (max-width: 1300px) {
    ._container {
      max-width: 1100px;
    }
  }

  @media (max-width: 1200px) {
    .items {
      text-align: center;
      margin: 0 0 0 0;
    }

    .items > * {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
    }

    .auth__info .text-good {
      left: 100px;
    }

    .auth__info .text-wrong {
      left: 100px;
    }

    ._container {
      max-width: 1000px;
    }
  }

  @media (max-width: 1100px) {
    .header__logo {
      display: none;
    }

    .header__logo {
      display: none;
    }

    .main-block .card__logo {
      display: block;
      margin: 0 0 30px 0;
      opacity: 1;
    }

    .main-block .card {
      margin: 50px 0 0 20px;
    }

    .slider-films__slider {
      max-width: 750px;
    }

    .auth__form {
      margin: 0 0 0 20px;
    }

    .auth__info .text-good {
      left: 25px;
    }

    .auth__info .text-wrong {
      left: 25px;
    }

    .header {
      margin: 0 0 20px 0;
    }

    .header .header__container {
      min-height: 70px;
    }

    .header__logo {
      width: 100%;
      padding: 0 0 0 50px;
    }

    .header__icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
    }

    .header__icons.active {
      display: none;
    }

    .header__menu {
      padding: 0 0 0 40px;
    }

    .header__menu .menu__list {
      background-color: #ffffff;
      width: 100%;
      height: 100%;
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      top: -100%;
      left: 0;
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      z-index: 5;
    }

    .header__menu .menu__list li {
      margin: 50px 0 0 50px;
    }

    .header__menu.active .menu__list {
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      top: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }

    body.lock {
      overflow: hidden;
    }

    .header__menu.active {
      width: 100%;
    }

    .menu__list {
      display: none;
    }

    .header__burger {
      display: block;
      position: absolute;
      top: 25px;
      right: 15%;
    }

    .header__burger.active:before {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 13px;
    }

    .header__burger.active:after {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .header__burger.active span {
      -webkit-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      transition: 0.3s all ease;
      display: none;
    }

    .main-block {
      background-color: #ffffff;
    }

    .main-block .card {
      padding: 20px;
      max-width: 300px;
      margin: 100px auto 0 auto;
    }

    .main-block .card__logo {
      display: none;
    }

    .slider-films__slider {
      max-width: 400px;
      margin-bottom: 0px;
    }

    .items {
      text-align: center;
    }

    .items > * {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
    }

    .categories {
      margin: 0 0 40px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    .auth .popup-card.active {
      display: block;
    }

    .auth__icon.active {
      display: block;
      width: 50px;
      height: 50px;
    }

    .auth__info .text-good,
    .auth__info .text-wrong {
      display: none;
    }

    .auth__container {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    .auth__form {
      margin: 0;
    }
  }

  @media (max-width: 600px) {
    .no-webp .main-block {
      background: url('../../../span/img/hall1x300.png') 0 0/100% auto no-repeat;
    }
    .main-block {
      height: 400px;
      background-color: #f5ebea;
    }

    .main-block .card__title {
      color: #001736;
    }

    .main-block .card__subtitle {
      color: #001736;
    }

    .main-block .img {
      display: none;
    }

    .slider-films {
      margin: 450px auto 0;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    * {
      -webkit-animation-duration: 0.01ms !important;
      animation-duration: 0.01ms !important;
      -webkit-animation-iteration-count: 1 !important;
      animation-iteration-count: 1 !important;
      -webkit-transition-duration: 0.01ms !important;
      -o-transition-duration: 0.01ms !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  @media (max-width: 600px) {
    .webp .main-block {
      background: url(../../../span/img/hall1x300.webp) 0 0/100% auto no-repeat;
    }
  }
}

@media (max-width: 567px) {
  .footer {
    margin-top: 200px;
  }
}


@media (max-width: 1100px) {
  .content__items {
    padding: 0 20px;
  }
  .overlap__form {
    padding: 0 15px;
  }
}

@media (max-width: 1200px) {
  .items {
    text-align: center;
    margin: 0 0 0 0;
  }

  .items > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}

@media (max-width: 880px) {
  .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 50px 0;
  }

  .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 50px 0;
  }
  .items > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

.switchTheme {
  margin: 0 20px;
}
svg.changeTheme[data-theme='dark'] {
  display: block;
}
svg.changeTheme[data-theme='light'] {
  display: none;
}
.overlap__form {
  margin: 0px 0px 20px 0px;
}
.overlapInput {
  width: 100%;
  border-radius: 30px;
  text-indent: 15px;
}
.overlapCard__card {
  display: flex;
}
.overlapCard__container {
}
.card__info {
  display: flex;
  flex-direction: column;
}
.logoutBtn {
  height: 50px;
}
.card__happyContainer {
  display: flex;
  flex-direction: column;
  width: 100px;
  justify-content: space-between;
}
.card__sadContainer {
  display: flex;
  width: 100px;
  flex-direction: column;
  justify-content: space-between;
}

.content .card__statistics-happy {
  background-color: rgb(58, 255, 58);
}
.content .card__statistics-sad {
  background-color: rgb(255, 60, 60);
}
.happyText {
  margin: 0 0 20px 0;
}
.column {
  flex-direction: column;
}

.article {
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  line-height: 35px;
  background-color: #f0f8ed;
  padding: 20px;
}
