{{template "_head.html"}}
<body>
  <div class="wrapper">
    {{template "_header.html"}}
    <div class="content">
      <div class="content__container _container">
        <div class="rules-topic">
          <div class="title">Условия доступа к сайту</div>
          <div class="subtitle-rules">
            Осуществление доступа к сайту www.amongFilm.ru (далее - Сайт) означает согласие
            посетителя Сайта с настоящими Условиями доступа. При несогласии посетителя Сайта с
            нижеследующими Условиями доступа посетитель обязан отказаться от доступа к Сайту, а
            также прекратить использование материалов, размещенных на Сайте:
            https://www.amongFilm.ru/films/ © amongFilm, 2023
          </div>
        </div>
        <div class="rules-topic">
          <div class="title">Политика обработки персональных данных</div>
          <div class="subtitle-rules">
            1. Настоящий документ (далее - Политика) определяет политику в отношении обработки
            персональных данных ООО"АмонгФильм" (далее - Компания).
          </div>
          <div class="subtitle-rules">
            2. Настоящая Политика разработана во исполнение требований п. 2 ч. 1 ст. 18.1
            Федерального закона от 27.07.2006 N 152-ФЗ "О персональных данных" (далее - Закон о
            персональных данных).
          </div>
          <div class="subtitle-rules">
            3. Пользователь, соглашаясь на использование системы распознавания эмоций на
            интернет-сайте https://www.amongFilm.ru/films/, принимает настоящее Согласие на
            обработку персональных данных (далее – Согласие). Действуя свободно, своей волей и в
            своем интересе, а также подтверждая свою дееспособность, Пользователь дает свое согласие
            ООО"АмонгФильм", расположенное по адресу [Адрес]. На обработку своих персональных
            данных со следующими условиями:
          </div>
          <div class="subtitle-rules">
            4. Данное Согласие дается на обработку персональных данных, как без использования
            средств автоматизации, так и с их использованием.
          </div>
          <div class="subtitle-rules">
            5. Согласие дается на обработку следующих моих персональных данных: фото и
            видеоизображение пользователя
          </div>
          <div class="subtitle-rules">6. Персональные данные не являются общедоступными.</div>
          <div class="subtitle-rules">
            7. Цель обработки персональных данных: обработка входящих запросов физических лиц с
            целью составления статистики; аналитики опыта физического лица на веб-сайте;
          </div>
          <div class="subtitle-rules">
            8. Основанием для обработки персональных данных является: ст. 24 Конституции Российской
            Федерации; ст. 6 Федерального закона №152-ФЗ «О персональных данных»; Устав ООО
            "АмонгФильм"; настоящее согласие на обработку персональных данных.
          </div>
          <div class="subtitle-rules">
            9. В ходе обработки с персональными данными будут совершены следующие действия: сбор;
            запись; систематизация; накопление; хранение; уточнение (обновление, изменение);
            извлечение; использование; передача (распространение, предоставление, доступ);
            блокирование; удаление; уничтожение.
          </div>
          <div class="subtitle-rules">
            10. Персональные данные обрабатываются до окончания сессии использования системы
            распознавания эмоций физическим лицом. Также обработка персональных данных может быть
            прекращена по запросу субъекта персональных данных. Хранение персональных данных,
            зафиксированных на бумажных носителях осуществляется согласно Федеральному закону
            №125-ФЗ «Об архивном деле в Российской Федерации» и иным нормативно правовым актам в
            области архивного дела и архивного хранения.
          </div>
          <div class="subtitle-rules">
            11. Согласие может быть отозвано субъектом персональных данных или его представителем
            путем направления письменного заявления в ООО "АмонгФильм" по адресу, указанному
            в начале данного Согласия.
          </div>
          <div class="subtitle-rules">
            12. В случае отзыва субъектом персональных данных или его представителем согласия на
            обработку персональных данных ООО "АмонгФильм" вправе продолжить обработку
            персональных данных без согласия субъекта персональных данных при наличии оснований,
            указанных в пунктах 2 – 11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11
            Федерального закона №152-ФЗ «О персональных данных» от 27.07.2006 г.
          </div>
          <div class="subtitle-rules">
            13. Настоящее согласие действует все время до момента прекращения обработки персональных
            данных, указанных в п.7 и п.8 данного Согласия.
          </div>
        </div>
      </div>
    </div>
    {{template "_footer.html"}}
  </div>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js?_v=20230131223127"></script>
  <script
    type="text/javascript"
    src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="/js/app.js"></script>
</body>
